/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color."   border-image: url('') 20;   background-image:url(''); padding: 50px;*/

   @font-face {
    font-family: 'Futura';
    src: url('../fun-site/im/Futura Book font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Queer';
  src: url('../fun-site/im/Queer font.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: white;
  background-color:black;
  font-family: Verdana;
  text-align: center;
  padding: 0px;
  font-family: "Queer";
  image-rendering: pixelated;
}

.navigation {
  font-size: 20px;
  background-color: white;
  box-sizing: border-box;
  width: 10%;
  margin: auto;
  text-align: center;
  background-image:url('');
}

.player {
  background-color: white;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  background-image:url('');
}

.box {
  box-sizing: border-box;
  float: right;
  width: 70%;
  border: 5px ridge #DBF1FE;
  margin: auto;
  text-align: center;
}

.room {
  background-color: #232023;
  border: 5px ridge #DBF1FE;
  height: 47vh;
}

.loubox {
  background-image:url('im/lou img.png');
  background-size: cover;
  border: 5px ridge #DBF1FE;
  height: 50vh;
}

.header {
  background-image:url('im/lou header.png');
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  border: 5px ridge #DBF1FE;
  margin: auto;
  text-align: center;
}
.leftroom {
  background-color: #232023;
  border: 5px ridge #DBF1FE;
  height: 47vh;
  overflow: auto;
}

.leftmenu {
  background-color: #232023;
  box-sizing: border-box;
  float: left;
  border: 5px ridge #DBF1FE;
  width: 30%; /* three boxes (use 25% for four, and 50% for two, etc) */
}

a {
  color: white;
  text-decoration: none;
}

hr {
  border-top: 5px ridge #DBF1FE;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.rotate-image-left {
  transform: rotate(-10deg);
}
.rotate-image-right {
  transform: rotate(10deg);
}